{% extends "base.html" %}
{% load static i18n %}
{% block title %}Police Forces{% endblock %}

{% block content %}
<div class="container">
  <h2>Police Forces</h2>

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Police Force Name</th>
            <th>Web site</th>
            <th>Main Phone</th>
            <th>Primary Contact</th>
        </tr>
    </thead> 
    <tbody>
        {% for org in organisation_list %}
        <tr>
            <td>{{ org.name }}</td>
            <td>{{ org.website }}</td>
            <td>{{ org.main_phone }}</td>
            <td><strong>{{ org.key_contact.name }}</strong><br>
                {{ org.key_contact.tel }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
